.form-signin {
  width: 40%;
  padding: 15px;
  margin: auto;
}

#formLogin,
#formSignup {
  min-width: 340px;
  max-width: 400px;
}

#f5f5f5 .form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

img {
  height: 30px;
}

.card {
  width: 50%;
  margin: auto;
}

.card-header {
  align-items: center;
}

#formUser {
  max-width: 600px;
}

h6 {
  margin-bottom: 0;
}

h1 {
  text-align: center;
}

.formBio {
  min-height: 200px !important;
}

.btnUser {
  width: 200px !important;
}

#formCreateArticle,
#formUser {
  min-width: 330px;
}

#formCreateArticle {
  text-align: center;
}

.formGetArticles {
  min-width: 330px;
}

textarea.formContent {
  min-height: 150px;
}

.btnArticle {
  max-width: 150px;
}

a:link {
  text-decoration: none;
}

#linkSignup {
  font-size: 20px;
  color: rgb(187, 17, 17);
}

#linkLogin {
  font-size: 20px;
  color: blue;
}

#linkSignup:hover {
  display: inline-block;
  margin-left: 20px;
  transform: scale(1.3);
}

#linkLogin:hover {
  display: inline-block;
  margin-left: 20px;
  transform: scale(1.3);
}

.cardHome {
  max-width: 500px;
  min-width: 280px;
}
