.formCreateArticle,
.formTitle,
.formContent,
.formAttachment {
  min-width: 45%;
}

.formCreateArticle {
  text-align: center;
}

textarea.formContent {
  min-height: 150px;
}

.btnArticle {
  max-width: 150px;
}
